<robot name = "robot">
    <link name="Torso">
        <inertial>
            <origin xyz="0 0 1.25" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0 0 1.25" rpy="0 0 0"/>
            <geometry>
                <box size="0.5 0.5 0.5" />
            </geometry>
            <material name="Magenta">
                <color rgba="1.0 0.0 0.52 1.0"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0 0 1.25" rpy="0 0 0"/>
            <geometry>
                <box size="0.5 0.5 0.5" />
            </geometry>
        </collision>
    </link>
    <link name="LeftLegR">
        <inertial>
            <origin xyz="-0.25 0 0" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="-0.25 0 0" rpy="0 0 0"/>
            <geometry>
                <box size="0.5 0.2 0.2" />
            </geometry>
            <material name="Magenta">
                <color rgba="1.0 0.0 0.52 1.0"/>
            </material>
        </visual>
        <collision>
            <origin xyz="-0.25 0 0" rpy="0 0 0"/>
            <geometry>
                <box size="0.5 0.2 0.2" />
            </geometry>
        </collision>
    </link>
    <link name="RightLegR">
        <inertial>
            <origin xyz="0.25 0 0" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0.25 0 0" rpy="0 0 0"/>
            <geometry>
                <box size="0.5 0.2 0.2" />
            </geometry>
            <material name="Magenta">
                <color rgba="1.0 0.0 0.52 1.0"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0.25 0 0" rpy="0 0 0"/>
            <geometry>
                <box size="0.5 0.2 0.2" />
            </geometry>
        </collision>
    </link>
    <link name="UpLegR">
        <inertial>
            <origin xyz="0 0 0.25" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0 0 0.25" rpy="0 0 0"/>
            <geometry>
                <box size="0.2 0.2 0.5" />
            </geometry>
            <material name="Magenta">
                <color rgba="1.0 0.0 0.52 1.0"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0 0 0.25" rpy="0 0 0"/>
            <geometry>
                <box size="0.2 0.2 0.5" />
            </geometry>
        </collision>
    </link>
    <link name="DownLegR">
        <inertial>
            <origin xyz="0 0 -0.25" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0 0 -0.25" rpy="0 0 0"/>
            <geometry>
                <box size="0.2 0.2 0.5" />
            </geometry>
            <material name="Magenta">
                <color rgba="1.0 0.0 0.52 1.0"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0 0 -0.25" rpy="0 0 0"/>
            <geometry>
                <box size="0.2 0.2 0.5" />
            </geometry>
        </collision>
    </link>
    <link name="FrontLegR">
        <inertial>
            <origin xyz="0 0.25 0" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0 0.25 0" rpy="0 0 0"/>
            <geometry>
                <box size="0.2 0.5 0.2" />
            </geometry>
            <material name="Magenta">
                <color rgba="1.0 0.0 0.52 1.0"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0 0.25 0" rpy="0 0 0"/>
            <geometry>
                <box size="0.2 0.5 0.2" />
            </geometry>
        </collision>
    </link>
    <link name="BackLegR">
        <inertial>
            <origin xyz="0 -0.25 0" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0 -0.25 0" rpy="0 0 0"/>
            <geometry>
                <box size="0.2 0.5 0.2" />
            </geometry>
            <material name="Magenta">
                <color rgba="1.0 0.0 0.52 1.0"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0 -0.25 0" rpy="0 0 0"/>
            <geometry>
                <box size="0.2 0.5 0.2" />
            </geometry>
        </collision>
    </link>
    <joint name="Torso_LeftLegR" type="prismatic">
       <parent link="Torso"/>
       <child  link="LeftLegR"/>
       <origin rpy="0 0 0" xyz="-0.25 0 1.25" />
       <axis xyz="1 0 0"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <joint name="Torso_RightLegR" type="prismatic">
       <parent link="Torso"/>
       <child  link="RightLegR"/>
       <origin rpy="0 0 0" xyz="0.25 0 1.25" />
       <axis xyz="1 0 0"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <joint name="Torso_UpLegR" type="prismatic">
       <parent link="Torso"/>
       <child  link="UpLegR"/>
       <origin rpy="0 0 0" xyz="0 0 1.5" />
       <axis xyz="0 0 1"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <joint name="Torso_DownLegR" type="prismatic">
       <parent link="Torso"/>
       <child  link="DownLegR"/>
       <origin rpy="0 0 0" xyz="0 0 1" />
       <axis xyz="0 0 1"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <joint name="Torso_FrontLegR" type="prismatic">
       <parent link="Torso"/>
       <child  link="FrontLegR"/>
       <origin rpy="0 0 0" xyz="0 0.25 1.25" />
       <axis xyz="0 1 0"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <joint name="Torso_BackLegR" type="prismatic">
       <parent link="Torso"/>
       <child  link="BackLegR"/>
       <origin rpy="0 0 0" xyz="0 -0.25 1.25" />
       <axis xyz="0 1 0"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
</robot>